<?xml version="1.0"?>
<config>
    <modules>
        <Mverp_InventorySync>
            <version>0.1.0</version>
        </Mverp_InventorySync>
    </modules>
    <global>
        <models>
            <mverp_inventorysync>
                <class>Mverp_InventorySync_Model</class>
                <resourceModel>mverp_inventorysync_resource</resourceModel>
            </mverp_inventorysync>
            <mverp_inventorysync_resource>
                <class>Mverp_InventorySync_Model_Resource</class>
            </mverp_inventorysync_resource>
        </models>
        <blocks>
            <mverp_inventorysync>
                <class>Mverp_InventorySync_Block</class>
            </mverp_inventorysync>
        </blocks>
        <helpers>
            <mverp_inventorysync>
                <class>Mverp_InventorySync_Helper</class>
            </mverp_inventorysync>
        </helpers>
        <resources>
            <mverp_inventorysync_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mverp_inventorysync_write>
        </resources>

        <events>
            <!-- The code of the event we want to observe -->

            <sales_order_item_cancel>
                <observers>
                    <mverp_inventorysync>
                        <type>singleton</type>
                        <class>mverp_inventorysync/observer</class>
                        <method>cancelOrderItem</method>
                    </mverp_inventorysync>
                </observers>
            </sales_order_item_cancel>
            <sales_order_place_after>
                <observers>
                    <npm_commission>
                        <type>singleton</type>
                        <class>mverp_inventorysync/observer</class>
                        <method>logOrder</method>
                    </npm_commission>
                </observers>
            </sales_order_place_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <mverp_inventorysync>
                        <type>singleton</type>
                        <class>mverp_inventorysync/observer</class>
                        <method>refundOrderInventory</method>
                    </mverp_inventorysync>
                </observers>
            </sales_order_creditmemo_save_after>
        </events>

    </global>
    <adminhtml>
        <events>
            <catalog_product_save_commit_after>
                <observers>
                    <mverp_inventorysync>
                        <class>mverp_inventorysync/observer</class>
                        <method>logUpdate</method>
                    </mverp_inventorysync>
                </observers>
            </catalog_product_save_commit_after>
        </events>
    </adminhtml>
</config>